
	body {
		background-color: grey;
		margin: 5%;
		font-family: "Playwrite CU", cursive;
	}
	.sessao-1 {
		padding: 20px;
		border: solid 5px black;
		margin-bottom: 10%;
	}
		
	.sessao-2, #exemplo{
		text-align: right;
	}
	
		
	.sessao-1 h2{
		color: blue;
	}
	
	.marrom {
		color: brown;
		font-size: 25px;
	}
	
	#exemplo {
		color: orange;
	}
	
	.sessao-1 p {
		color: purple
	
	}
	
	
	.sessao-2 h2 {
		color: yellow;
		
	}
	
	.sessao-2 p+p{
		color: green
	}	
	.sessao-2 {
		border: solid 4px;
		border-color: red black;	
	}
	
